.grid {
  display: grid;
  row-gap: 6rem;
  column-gap: 8rem;
  max-width: 114rem;
  margin: 0 auto;
}

.grid--2-cols {
  margin: 0 auto;

  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
